.col-1 {
  width: calc(100% / 12 * 1);
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-3 {
  width: calc(100% / 12 * 3);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: calc(100% / 1 * 7);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-9 {
  width: calc(100% / 12 * 9);
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-12 {
  width: 100%;
}

$screensize: xl, lg, md, sm;
@each $screen in $screensize {
  @if ($screen==xl) {
    @media screen and (max-width: 1250px) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          width: 100%/12 * $i;
        }
      }
    }
  } @else if($screen==lg) {
    @media screen and (max-width: 1050px) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          width: 100%/12 * $i;
        }
      }
    }
  } @else if ($screen==md) {
    @media screen and (max-width: 650px) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          width: 100%/12 * $i;
        }
      }

      .disapear {
        display: none;
      }
      .hamburger {
        display: block;
      }

      .xx-contact {
        display: flex;
        flex-direction: column;
        .x-contact {
          display: flex;
          flex-direction: column;
          width: 100%;
          .contact-name {
            width: 100%;
            margin-bottom: 10px;
          }
        }
        .contact-info {
          padding: 10px 0;
        }
      }

      .city-list {
        width: 100%;
      }
      .city {
        margin-bottom: 50px;
        .city-image {
          text-align: center;
        }
      }
      .x-contact .contact-email input {
        width: 100%;
      }

      .container {
        width: 100%;
        .row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }
      .band-portrait-image {
        text-align: center;
      }

      .contact-name input {
        width: 100%;
      }

    }
  } @else if($screen==sm) {
    @media screen and (max-width: 400px) {
      @for $i from 1 through 12 {
        .col-#{$screen}-#{$i} {
          width: 100%/12 * $i;
        }
      }
    }
  }
}
